@import "./variable.scss";

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "avenir-regular";
  font-size: 10px;
}

.container {
  padding: 0px 20px;
  @media only screen and (min-width: 1230px) {
    max-width: 1220px;
    padding: 0;
    margin: auto;
  }
}

.commonHeading {
  text-align: center;
  padding-bottom: 57px;
  h1 {
    @include typeface-bold-32;
  }
  p {
    @include typeface-medium-16;
  }
}

.commonButton {
  background-color: $primary-color;
  color: $secondary-color;
  @include typeface-medium-16;
  border: 1px solid $primary-color;
  border-radius: 56px;
}
